
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     
}

body{
    background-color: rgb(223, 215, 235);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:10px;
    margin-left:20px;
}

li{
    display:inline;

}

a{
    padding: 20px;
    background-color: transparent;
    color: rgb(44, 42, 92);
    font-family: source-code-pro, monospace;
    font-style: normal;
    font-weight: 100;
    font-size: 2vw;
    text-decoration: none;
}

a:hover{
    font-size:2.5vw;
    color: white;
    transition: .3s;
}

h1{
    font-family: "seismic-latin-variable", sans-serif;
    font-variation-settings: "SEIS" 60, "wght" 200;
    font-size: 100px;
    text-align: center;
}

div.p{
    font-family: "source-code-pro", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
}


div.gifs{
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 120px;
}

div.gifs img{
    padding: 10px;
    display: inline;
    width: 200px;
    height: 200px;

}

div.gifs :hover{
    opacity: 20%;
}

div.gifs2{
    padding: 5px;
    white-space: nowrap;
    overflow: auto;
    margin-top: 120px;
}

div.gifs2 img{
    padding: 10px;
    display: inline;
    width: 200px;
    height: 200px;
}

div.gifs2 :hover{
    opacity: 20%;
}
